.left-bubble,
.right-bubble {
  animation: appear 1200ms ease-in-out 0ms backwards;
}

.right-bubble {
  animation: slideTopRight 1200ms ease-in-out 200ms backwards;
}
.left-bubble {
  animation: slideTopLeft 1200ms ease-in-out 0ms backwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes slideTopRight {
  0% {
    opacity: 0;
    translate: -20px 20px;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes slideTopLeft {
  0% {
    opacity: 0;
    translate: 20px 20px;
  }
  100% {
    opacity: 1;
    translate: 0 0px;
  }
}