@font-face {
  font-family: "Gilroy";
  src: url("./gilroyfont/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: url("./gilroyfont/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: url("./gilroyfont/Gilroy-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: url("./gilroyfont/Gilroy-Bold.ttf") format("truetype");
}
