@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  src: url("./gilroyfont/Gilroy-Regular.ttf");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: medium;
  src: url("./gilroyfont/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: semibold;
  src: url("./gilroyfont/Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  src: url("./gilroyfont/Gilroy-Bold.ttf");
}
