* {
  font-family: Gilroy, sans-serif;
  @apply m-0 p-0 scroll-smooth box-border text-pretty;
}

body {
  @apply bg-white text-black;
}

.icon {
  @apply w-11 h-11 p-2.5 rounded-[10px] flex items-center justify-center cursor-pointer bg-black;
  & path {
    @apply fill-white;
  }
}

:has(.icon:hover) .icon:not(:hover) {
  @apply bg-gray-500;
}

.bg-blur {
  @apply bg-gray-500/30 backdrop-blur-sm;
}

.radial-gradient {
  background: radial-gradient(50% 50% at 50% 50%, #c7c8ff 0%, rgba(216, 229, 255, 0) 74.5%);
}

.name-stars {
  @apply absolute w-full h-full;
}

.name-stars.star-1 {
  @apply w-5 h-5;
  animation: star-1-flowDown 1s linear infinite;
}

.name-stars.star-2 {
  @apply w-2.5 h-2.5;
  animation: star-2-flowDown 1s linear infinite;
}

@keyframes star-1-flowDown {
  0% {
    right: 10px;
    top: 0px;
  }
  50% {
    right: 0px;
  }
  100% {
    opacity: 0;
    right: 10px;
    top: 100%;
  }
}

@keyframes star-2-flowDown {
  0% {
    right: 30px;
    top: -10px;
  }
  50% {
    right: 25px;
  }
  100% {
    opacity: 0;
    right: 30px;
    top: 90%;
  }
}

.expanded-image {
  position: fixed;
  width: 100vw !important;
  max-width: 100vw !important;
  height: 100vh !important;
  padding: 50px;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in-out;
  img {
    // border: 1px solid black;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
