* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: Gilroy;
}

body {
  @apply text-dark;
}

.icon {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  @apply flex items-center justify-center cursor-pointer bg-black;
  & path {
    fill: white;
  }
}

:has(.icon:hover) .icon:not(:hover) {
  @apply bg-gray-500;
}

.bg-blur {
  @apply bg-gray-500/30 backdrop-blur-sm;
}
