* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: Gilroy, sans-serif;
}

body {
  @apply text-dark;
}

.icon {
  width: 44px;
  height: 44px;
  padding: 10px;
  border-radius: 10px;
  @apply flex items-center justify-center cursor-pointer bg-black;
  & path {
    fill: white;
  }
}

:has(.icon:hover) .icon:not(:hover) {
  @apply bg-gray-500;
}

.bg-blur {
  @apply bg-gray-500/30 backdrop-blur-sm;
}

.radial-gradient {
  background: radial-gradient(50% 50% at 50% 50%, #c7c8ff 0%, rgba(216, 229, 255, 0) 74.5%);
}

.name-stars {
  position: absolute;
  width: 100%;
  height: 100%;
}

.name-stars.star-1 {
  width: 20px;
  height: 20px;
  animation: star-1-flowDown 1s linear infinite;
}

.name-stars.star-2 {
  width: 10px;
  height: 10px;
  animation: star-2-flowDown 1s linear infinite;
}

@keyframes star-1-flowDown {
  0% {
    right: 10px;
    top: 0px;
  }
  50% {
    right: 0px;
  }
  100% {
    opacity: 0;
    right: 10px;
    top: 100%;
  }
}

@keyframes star-2-flowDown {
  0% {
    right: 30px;
    top: -10px;
  }
  50% {
    right: 25px;
  }
  100% {
    opacity: 0;
    right: 30px;
    top: 90%;
  }
}
