nav,
footer,
main > :not(.full-width),
.full-width > .contain {
  width: 335px;
  margin-inline: auto;
}

@media (min-width: 768px) {
  nav,
  footer,
  main > :not(.full-width),
  .full-width > .contain  {
    width: 600px;
  }
}
@media (min-width: 1024px) {
  nav,
  footer,
  main > :not(.full-width),
  .full-width > .contain  {
    width: 900px;
  }
}

@media (min-width: 1440px) {
  nav,
  footer,
  main > :not(.full-width),
  .full-width > .contain  {
    width: 1170px;
  }
  main .small {
    width: 900px;
    margin-inline: auto;
  }
  main .smaller {
    width: 600px;
    margin-inline: auto;
  }
}

main {
  margin-top: -44px;
}
